<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>List All</title>
    </head>
    <body>

    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Food</th>
        </tr>
        <tr th:each="potObject" : ${listOfPotObjects}>
            <td th:text="${potObject.id}"></td>
            <td th:text="${potObject.firstName}"></td>
            <td th:text="${potObject.lastName}"></td>
            <td th:text="${potObject.food}"></td>
        </tr>

    </table>

    </body>
</html>